<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Change your password</h4>
            <div class="input-group mb-2">
                <input type="password" placeholder="New password" class="form-control">
            </div>
            <div class="input-group mb-4">
                <input type="password" placeholder="Confirm password" class="form-control">
            </div>
            <button class="btn btn-block btn-primary mb-4">Change password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>