<p-panel header="Form Controls">
  <div class="ui-fluid">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-4">
            <strong>Text</strong>
          </div>
          <div class="ui-g-12 ui-md-8">
            <input maxLength="50" pInputText type="text"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-4">
            <strong>Email</strong>
          </div>
          <div class="ui-g-12 ui-md-8">
            <input maxLength="50" pInputText type="email"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-4">
            <strong>Number</strong>
          </div>
          <div class="ui-g-12 ui-md-8">
            <p-spinner [min]="0" placeholder="Positive number"></p-spinner>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-4">
            <strong>Calendar</strong>
          </div>
          <div class="ui-g-12 ui-md-8">
            <p-calendar showTime="true"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-4">
            <strong>Dropdown</strong>
          </div>
          <div class="ui-g-12 ui-md-8">
            <p-dropdown [options]="cities" [filter]="true" [(ngModel)]="selectedCity"></p-dropdown>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-4">
            <strong>Description</strong>
          </div>
          <div class="ui-g-12 ui-md-8">
            <textarea pInputTextarea placeholder="Short description"></textarea>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <button label="Save" pButton></button>
        </div>
      </div>
  </div>
</p-panel>